@model AvailabilityMonitor_Firebase.Models.Config

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="supplierFileUrl" class="control-label"></label>
                <input asp-for="supplierFileUrl" class="form-control" />
                <span asp-validation-for="supplierFileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prestaShopUrl" class="control-label"></label>
                <input asp-for="prestaShopUrl" class="form-control" />
                <span asp-validation-for="prestaShopUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prestaApiKey" class="control-label"></label>
                <input asp-for="prestaApiKey" class="form-control" />
                <span asp-validation-for="prestaApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="currency" class="control-label"></label>
                <input asp-for="currency" class="form-control" />
                <span asp-validation-for="currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
