@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center table-container">
    <h1 class="display-4">Welcome</h1>
    <p>This is an availability monitor for private use.</p>
    <p>If you don't want to log in, press the button below.</p>
    <input type="button" title="Click here to see what this app does" name="buttonPreview" value="Preview"/>
</div>

